<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dev.gymassistantv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/gym_assistant_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddMeasurementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChargesSubmenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseAvailableExercisesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageMeasurementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindTrainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageChargesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageInvitationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageTrainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProgressSubmenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SegmentHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkoutDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkoutHistoryActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>