<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dev.gymassistantv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gym_assistant_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BeginWorkoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityThemeNoActionBar" />
        <activity
            android:name=".ChooseExerciseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityThemeNoActionBar" />

        <activity
            android:name=".SetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityThemeNoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityThemeNoActionBar" />
        <activity
            android:name=".WorkoutHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityThemeNoActionBar" />
        <activity
            android:name=".WorkoutDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityThemeNoActionBar" />
        <activity
            android:name=".ChooseAvailableExercisesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityThemeNoActionBar" />
    </application>

</manifest>