<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dev.gymassistantv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/gym_assistant_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".LogInActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainMenuActivity"/>
        <activity android:name=".AddExerciseActivity" />
        <activity android:name=".AddMeasurementsActivity" />
        <activity android:name=".ChargesSubmenuActivity" />
        <activity android:name=".ChooseAvailableExercisesActivity" />
        <activity android:name=".ChooseExerciseActivity" />
        <activity android:name=".FindTrainerActivity" />
        <activity android:name=".ManageChargesActivity" />
        <activity android:name=".ManageInvitationsActivity" />
        <activity android:name=".ManageTrainerActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".ProgressSubmenuActivity" />
        <activity android:name=".SegmentHistoryActivity" />
        <activity android:name=".SetActivity" />
        <activity android:name=".SetEditActivity" />
        <activity android:name=".SetHistoryActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".WorkoutDetailsActivity" />
        <activity android:name=".WorkoutHistoryActivity" />
    </application>

</manifest>